<h1>Backdoor</h1>

<form action="/insert_item" method="post">
  <label for="query_link_url">Link URL</label>
  <input id="query_link_url" name="query_link_url" type="text" />

  <label for="query_link_description">Link Description</label>
  <input id="query_link_description" name="query_link_description" type="text" />

  <label for="query_thumbnail_url">Thumbnail URL</label>
  <input id="query_thumbnail_url" name="query_thumbnail_url" type="text" />

  <button>Create item</button>
</form>
